* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: none;
}

:root {
  --bs-oliva: rgba(139, 129, 85, 1);
  --bs-oliva-seconday: rgba(209, 240, 177, 1);
  --bs-oliva-hl: rgba(47, 47, 47, 1);
}

li {
  list-style: none;
}

.cajaView {
  border: 5px solid black;
}

h5 {
  color: white;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  color: var(--bs-oliva);
  text-shadow: 0 0 15px white;
}

h3 {
  font-size: 50px;
  color: rgba(139, 129, 85, 1);
  text-shadow: 0 0 15px white;
}

h4 {
  font-size: 35px;
  color: #8b8155;
  text-shadow: 0 0 15px white;
}

p {
  font-size: 30px;
  text-align: justify;
  font-weight: 450;
  text-indent: 2rem;
}

/* ----- */
@import "parciales/_common.scss";
/* ----- */
@import "parciales/_index.scss";
/* ----- */
@import "parciales/_connected.scss";
/* ----- */
@import "parciales/_guide.scss";
/* ----- */
@import "parciales/_mynfts.scss";
/* ----- */
@import "parciales/_team.scss";
/* ----- */
@import "parciales/_mediaMax1200.scss";
/*tablet*/
@import "parciales/_mediaMax770.scss";
/*movil chico*/







