@import "_map.scss";

@mixin sizes($width) {
  height: $width * 1.5;
  width: $width;
}

@mixin sizes1_1($width) {
  height: $width;
  width: $width;
}

.center-content {
  display: flex;
  justify-content: center;
}

.cuerpo {
  display: flex;
  flex-direction: column;
  background-image: url(../imagenes/WaveLine.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300% 80%;
  background-attachment: fixed;
  align-items: center;
  padding: 0 1rem;
}

.encabezado {
  background-color: var(--bs-oliva);
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 15px;
  margin: 5px;
  border-radius: 10px;
  width: 100%;
}

.logo {
 @include sizes1_1(100px);
    background-image: url(../imagenes/Logo_placeholder2.jpg);
    background-color: white;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
  
  

  &__img {
    height: 300px;
    border-radius: 50%;

  }
}
@media screen and (min-width: 469px) {
  .logo {
    @include sizes1_1(175px);
    }
  
}

@media screen and (min-width: 769px) {
  .logo {
    @include sizes1_1(275px);
    background-image: url(../imagenes/Logo_placeholder.jpg);
    background-size: 115%;
    background-position: bottom;
    
  }
  
}

.nav {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(47, 47, 47, 1);
  display: flex;
  width: 50%;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }

  &__item--close {
    display: none;
  }
}

.header__open {
  text-decoration: none;
  color: unset;
  display: none;
}

.jam-menu {
  font-size: 50px;
  color: white;
}

/* BOTOM WALLET */
.button-28 {
  width: max-content;
  appearance: none;
  background-color: transparent;
  border: 5px solid rgba(209, 240, 177, 1);
  border-radius: 15px;
  box-sizing: border-box;
  color: rgba(209, 240, 177, 1);
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 900ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    color: rgba(47, 47, 47, 1);
    background-color: rgba(209, 240, 177, 1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}

/* /boton */

.piepag {
  background-color: var(--bs-oliva);
  flex-direction: row;
  padding: 15px 2px;
  margin: 0 10px;
  border-radius: 10px;
  height: 80px;
  width: 100%;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;

  &_links {
    height: 50px;
    align-content: center;
    height: min-content;
  }

  img {
    height: 35px;
    background-color: white;
    border-radius: 50%;
  }
}

.discord_buttom {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: map-get($discord, border_radius);
  color: map-get($discord, font_color);
  background-color: map-get($discord, bg_color);
  text-shadow: none;
  font-size: 15px;
}
