@media screen and (max-width: 769px) {
   .button-28 {
    width: min-content;
    font-size: 14px;
    font-weight: 600;
  }

  .piepag {
    height: max-content;
    display: block;
    flex-direction: column;
    justify-content: center;
  }

  .piepag h5 {
    text-align: center;
  }

  .piepag img {
    width: 35px;
    height: fit-content;
  }

  .piepag redes {
    display: flex;
    justify-content: center;
  }

  .jam-menu {
    display: inline;
    font-size: 50px;
    color: white;
  }

  #lateral {
    display: block;
    text-align: center;
    background-color: rgba(139, 129, 85, 0.8);
    width: fit-content;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    transition: right ease-in-out 1s;
  }

  #lateral:target {
    right: 0;
  }

  .nav {
    display: flex;
    padding: 1rem;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .nav li {
    height: 50px;
    /*border: 2px black solid;*/
    display: flex;
    justify-content: flex-end;
  }

  .nav a {
    font-size: 30px;
  }

  .header__open {
    display: inline;
  }

  .jam-close {
    font-size: 45px;
  }

  .mainGrid {
    position: relative;
    display: grid;
    width: 98vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
      "infoProducto__titulo infoProducto__titulo"
      "muestraNft muestraNft"
      "supply price"
      "infoProducto__desc infoProducto__desc";
  }

  .infoProducto {
    padding: 0;
  }

  .muestraNft {
    gap: 5px;
  }

  .muestraNft img {
    width: 49%;
    height: fit-content;
  }

  h3 {
    font-size: 30px;
    font-weight: bolder;
  }

  h4 {
    font-size: 20px;
    font-weight: bolder;
  }

  .infoProducto__desc {
    font-size: 18px;
  }

  .teamProfile {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .teamProfile__desc {
    display: none;
  }

  .mainGrid--connected {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas:
      "infoProducto__titulo"
      "progress-bar"
      "muestraNft"
      "mint-buttom"
      "price";
  }

  .button {
    font-size: 25px;
  }

  .mainGrid_myNfts {
    padding: 0.5rem;
    grid-template-rows: 80px 1fr 1fr 1fr;
    grid-template-columns: repeat(2, fr);
    grid-template-areas:
      "rareza rareza"
      "NFT1 NFT2"
      "NFT4 NFT5"
      "NFT3 NFT6";
  }

  .mainGrid_myNfts div {
    padding: 0;
  }

  .button--ordenar {
    font-size: 15px;
  }
}