.mainTeam {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
    
&__titulo{
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    text-align: center;
  }

&__section{
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
}
}

@import "_teamCard.scss";


.discord_buttom--teamCard {
  @extend .discord_buttom;
  padding: 0.5rem;
  font-size: 25px;
}

