
   :root{

   
    --bs-oliva: rgba(139, 129, 85,1);
    --bs-oliva-seconday: rgba(209, 240, 177,1);
    --bs-oliva-hl: rgba(47, 47, 47,1);
   }


body {
     font-family: unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color:unset;
    text-align: unset;
    background-color:unset;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


